body {
    background-color: #d6ae9d;
}

* {
    font-family: Helvetica;
    overflow: hidden;
}

.show-components-wrapper {
    background-color: #605540;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    font-weight: 650;
    height: 30%;
    width: 100%;
}

.show-components-wrapper p {
    margin: 5px;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

